
@{
    ViewData["Title"] = "Hesabım";
}

<h1>Hesabım</h1>

<partial name="_LoginMenu" />

<hr />

@await Html.PartialAsync("_LoginMenu")

@section Scripts{
    <script>
        console.log("Section çalışıyor");
    </script>
}