
@{

}

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Hesabım
  </a>
  <a href="#" class="list-group-item list-group-item-action">Sepetim</a>
  <a href="#" class="list-group-item list-group-item-action">Siparişlerim</a>
  <a href="#" class="list-group-item list-group-item-action">Şifre Güncelleme</a>
  <a class="list-group-item list-group-item-action disabled">Destek</a>
</div>
